<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="agregarAlumno()">
    <div class="row">
      <mat-form-field class="col-md-6">
        <mat-label>ID</mat-label>
        <input matInput formControlName="index" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Curso</mat-label>
        <input matInput formControlName="curso" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Profesor</mat-label>
        <input matInput formControlName="profesor" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Fecha Inicio</mat-label>
        <input
          matInput
          [matDatepicker]="fechaInicio"
          formControlName="fechaInicio"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="fechaInicio"
        ></mat-datepicker-toggle>
        <mat-datepicker #fechaInicio></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Fecha Fin</mat-label>
        <input matInput [matDatepicker]="fechaFin" formControlName="fechaFin" />
        <mat-datepicker-toggle
          matSuffix
          [for]="fechaFin"
        ></mat-datepicker-toggle>
        <mat-datepicker #fechaFin></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Nota Actual</mat-label>
        <input matInput formControlName="notaActual" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Aprobado</mat-label>
        <input matInput formControlName="aprobado" />
      </mat-form-field>

      <div class="col-md-6">
        <button mat-raised-button color="primary" type="submit">Agregar</button>
      </div>
    </div>
  </form>
</div>
