<h1 mat-dialog-title>Editar curso - {{ curso.nombre }}</h1>
<div mat-dialog-content>
  <form [formGroup]="formulario" (ngSubmit)="editarCurso()">
    <div class="row">
      <mat-form-field class="col-md-6">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Profesor</mat-label>
        <input matInput formControlName="profesor" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Imagen</mat-label>
        <input matInput formControlName="img" />
      </mat-form-field>

      <div class="col-md-6">
        <mat-slide-toggle formControlName="inscripcionAbierta"
          >Inscripcion abierta</mat-slide-toggle
        >
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button matDialogClose mat-button-button>Cerrar</button>
  <button mat-raised-button color="primary" (click)="editarCurso()">
    Editar
  </button>
</div>
