<!-- <div class="row" *ngIf="cargando$ | async">
  <div class="col-md-12">
    <mat-spinner></mat-spinner>
  </div>
</div> -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Curso</th>
      <th scope="col">Profesor</th>
      <th scope="col">Inicia</th>
      <th scope="col">Finaliza</th>
      <th scope="col">Nota Actual</th>
      <th scope="col">Aprobado</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of alumnos$ | async">
      <th scope="row">{{ alumno.index }}</th>
      <td>{{ alumno.nombre }}</td>
      <td>{{ alumno.apellido }}</td>
      <td>{{ alumno.curso }}</td>
      <td>{{ alumno.profesor }}</td>
      <td>{{ alumno.fechaInicio | date }}</td>
      <td>{{ alumno.fechaFin | date }}</td>
      <td [appStyleNote]="alumno.notaActual">{{ alumno.notaActual }}</td>
      <td [appStyle]="alumno.aprobado">
        {{ alumno.aprobado | note : "Si" : "No" }}
      </td>
      <td *ngIf="sesion$ | async as sesion">
        <button
          mat-button
          color="primary"
          (click)="abrirDialog(alumno)"
          *ngIf="sesion.usuarioActivo?.esAdmin"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
      <td *ngIf="sesion$ | async as sesion">
        <button
          mat-button
          color="warn"
          (click)="eliminarAlumno(alumno)"
          *ngIf="sesion.usuarioActivo?.esAdmin"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
