<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="agregarCurso()">
    <div class="row">
      <mat-form-field class="col-md-6">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Profesor</mat-label>
        <input matInput formControlName="profesor" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Inscripcion Abierta</mat-label>
        <input matInput formControlName="inscripcionAbierta" />
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Image</mat-label>
        <input matInput formControlName="img" />
      </mat-form-field>

      <div class="col-md-6">
        <button mat-raised-button class="button" color="primary" type="submit">
          Agregar
        </button>
      </div>
    </div>
  </form>
</div>
